
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<head>
    <style>
        footer{
            margin-top:15px;
        }
    </style>
</head>
<footer>
    <div class="container footercontainer">
        <div class="row">

            <div class="col-md-12 text-center">
                @await Component.InvokeAsync("FooterContent")
            </div>
        </div>
        <center class="designby">Design by melh</center>
    </div>
</footer>